
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

  .header {
    &-grafik {
      display: none;
    }
  }

  .section {
    &-vyzov {
      .section-title {
        font-size: 28px;
      }
    }
  }

}

@media only screen and (max-width : 991px) {	

  .hamburger {
    display: block;
  }    

  .header {
    &-content {
      align-items: center;
    }
    &-socials {
      display: none;
    }
    .button {
      margin-top: 0;
    }
  }

  .footer {
    text-align: center;

    &-content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 95px;
    margin-top: 0;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }

  .form--big {
    form {
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
    }
    .input-div, .button {
      width: 100%;
    }
    .input-div {
      margin-right: 0;
    }
    .form-info {
      max-width: 500px;
      margin: 0 auto;
    }
  }
    

  .section {
    &-title {
      font-size: 30px;
      margin-bottom: 0;
    }

    &-main {
      &-title {
        font-size: 36px;
        &-2 {
          margin-bottom: 50px;
        }
      }
    }

    &-stran {
      .stran {
        width: 48%;
        align-items: flex-start;
        img {
          margin: 0 auto 20px;
        }
        &-title {
          margin: 0 auto 15px;
        }
        .button {
          margin: 0 auto;
        }
      }
    }

    &-why {
      &-content-1, &-content-2 {
        display: none;
      }

      .carousel-why {
        display: block;
      }
      .why {
        margin: 0 auto 20px;
        padding: 20px 0 0 20px;
        &::before {
          left: 0px;
          top: 0px;
        }
      }

      .form {
        margin-top: 20px;
      }
    }

    &-vyzov {
      .section-title {
        font-size: 22px;
      }
      .section-slogan {
        margin-bottom: 20px;
      }
      &-title {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
  }

  #quiz-page {
    .section-question {
      &-content {
        flex-direction: column;
        align-items: center;
      }
      .question {
        &-img {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
  }


  #thanks-page {
    .section-thanks {
      padding: 130px 0 30px;
      
      &-content {
        margin-left: 0;
      }

      &-title {
        margin-bottom: 20px;
      }

      &-text {
        margin-bottom: 20px;
        font-size: 26px;
      }

      &-link {
        font-size: 16px;
        margin-bottom: 70px;
      }
    }
  }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

  .form {
    &-title {
      &--left {
        text-align: center;
      }
    }

    form {
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
    }
    .input-div, .button {
      width: 100%;
    }
    .input-div {
      margin-right: 0;
    }
    &-info {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .header {
    .grow {
      // display: block;
    }
    &-priem {
      display: none;
    }
  }

  .section {
    &-title {
      font-size: 24px;
      padding: 0;
      margin-bottom: 10px;
      background-image: none;
      span {
        &::before {
          background-image: none;
        }
      }
      &--long {
        // background-image: none;
        span {
          &::before {
            background-image: none;
          }
        }
      }
    }

    &-slogan {
      font-size: 30px;
    }

    &-main {
      padding-top: 110px;

      &-title {
        font-size: 28px;
        margin-bottom: 30px;
        &-2 {
          margin-bottom: 20px;
        }
      }

      .main-block {
        max-width: none;
        padding: 20px;
        
        &::before {
          display: none;
        }
      }
    }  
    
    &-services {
      .section-slogan {
        margin-bottom: 30px;
      }
      &-content {
        flex-wrap: wrap;
      }
      .service {
        max-width: none;
        width: 48%;
      }
    }

    &-vyzov {
      &-title {
        font-size: 22px;
        margin-bottom: 10px;
      }
    }
  }

  .more {    
    .stran {
      &-content {
        flex-direction: column;
        align-items: center;
        img {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
    .form {
      &-bottom {
        display: none;
      }
      &-bottom-2 {
        display: block;
        .button {
          margin-bottom: 10px;
        }
        .form-info {
          margin: 0 auto 0 0;
        }
      }
    }
  }

  #quiz-page {
    .section-question {
      margin-top: 80px;

      .question {
        &-title {
          font-size: 24px;
          margin-bottom: 20px;
        }
        &-text {
          font-size: 16px;
          margin-bottom: 15px;
        }
        .button {
          margin-top: 0;
        }
      }
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

  .call-me {
    display: block;
  }

  .form {
    padding: 20px;
  }

  .modal {
    .button {
      &--long {
        width: 100% !important;
      }
    }
  }

  .remodal {
    .modal-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    form {
      width: auto;
    }

    &.remodal-small {
      padding: 20px 10px;
    }
  }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
  }
    
  .visible-xxs {
    display: block !important;
  }

	.hidden-xxs {
		display: none !important;
  }

  .header {
    .button {
      display: none;
    }
  }

  .section {

    &-main {
      &-title {
        font-size: 22px;
        &-1 {
          font-size: 16px;
        }
      }
      .main-block {
        margin: 0 -15px;
        &-title {
          font-size: 15px;
          text-align: center;
        }
        .button {
          width: 100%;
          white-space: normal;
        }
      }
    }

    &-stran {
     
    }

    &-services {
      .service {
        width: 100%;
        img {
          margin-bottom: 15px;
        }
        .grow {
          display: none;
        }
        &-text {
          min-height: auto;
          margin-bottom: 10px;
        }
        .button {
          min-width: 180px;
        }
      }
    }

    &-certificates {
      .carousel-certificates {
        padding: 0;
      }
    }

    &-contact {
      .contact-block {
        position: static;
        margin: 15px auto 0 25px;
        // position: relative;
      }
    }

  }

  .modal {
    &-title {
      font-size: 20px;
    }
  }

  .more {
    .header-content {
      display: none;
    }
    .section-title {
      margin-bottom: 15px;
    }
  }

  #quiz-page {
    .section-question {
      
      .question {
        &-title {
          font-size: 22px;
        }
        &-text-2 {
          margin-bottom: 10px;
        }
        .button {
          width: 100%;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {

}